@model DepartmentViewModel

<h2 class="m-4">Calls by Department</h2>

<form asp-controller="Call" asp-action="GetByDepartment" method="post" role="form" class="m-3 w-25">
    <div class="form-group m-1">
        <label asp-for="@Model.Name">Please select a department</label>
        <select class="form-control" asp-for="@Model.Name">
            <option>BOI</option>
            <option>Fraud</option>
            <option>LBG</option>
            <option>ND</option>
        </select>
    </div>
    <button class="btn btn-primary mt-3 ml-2" type="submit">Submit</button>
</form>

