@model IEnumerable<Department>

<h2 class="m-3">Departments</h2>

<table class="table table-hover mt-2 w-50">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    @foreach (var dep in Model)
    {
        <tr>
            <td scope="row">#</td>
            <td scope="row"> <a style="text-decoration: none" asp-action="" asp-controller="Call">@dep.Name</a></td>

        </tr>
    }
</table>