@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-1">DataStats!</h1>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Please select a category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="GetDepartments" asp-controller="Department">Departments</a></td>
            </tr>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="GetEmployees" asp-controller="Employee">Employees</a></td>
            </tr>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="@*Think Calls here*@" asp-controller="Call">Reports</a></td>
            </tr>
        </tbody>
    </table>
</div>


