
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Please select a report</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="FormDepartmentCalls" asp-controller="Home">All calls by Department</a></td>
            </tr>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="FormEmployeeCalls" asp-controller="Home">All calls by Employee</a></td>
            </tr>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="" asp-controller="Home">Department calls by range</a></td>
            </tr>
            <tr>
                <td scope="row"><a style="text-decoration: none" asp-action="" asp-controller="Home">Employee calls by range</a></td>
            </tr>
        </tbody>
    </table>
</div>

<footer class="mt-1 py-3 bg-secondary fixed-bottom">
    <div class="container">
        <ul class="mt-2">
            <li><b>Human Resources: </b>01268 695558</li>
            <li><b>IT Helpdesk: </b>0207 1234569</li>
            <li><b>Manager's Email: </b> managername@dataStats.com</li>
        </ul>
    </div>
</footer>