@model IEnumerable<Department>

<h3 class="m-2">How would you like to view the call list?</h3>

    <button style="width:auto" class="mt-2 mb-2 mx-auto btn btn-secondary">
        By Department
    </button>

    <br />    

    <button style="width:auto" class="mt-2 mb-2 mx-auto btn btn-secondary btn">
        By Employee
    </button>
