@model IEnumerable<Call>

<table class="table-secondary">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Deparment</th>
            <th scope="col">Date</th>
            <th scope="col">AHT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var call in Model)
        {
            <tr>
                <th scope="row">#</th>
                <td>@call.Department.Name</td>
                <td>@call.Start.ToShortDateString()</td>
                <td>@call.CallId</td>
            </tr>
        }
    </tbody>
</table>