@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<span>Please check your inbox and click the link to confirm</span>

<button class="btn btn-secondary mt-2">Re-send</button>