@page
@model ConfirmEmailModel
@{
}

<h1>Email Confirmed</h1>

<span>Thank you for confirming your email address.</span>
<span style="display: block;" class="mt-1">If an email was not received then please use the below button</span>

<button class="btn btn-secondary mt-2" style="display: block;">Re-send</button>